<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <script type="text/javascript" th:src="@{js/jquery-2.1.1.js}"></script>
    <title>RIM | ENCUESTA </title>
</head>
<body>

<div class="container">
    <div class="row justify-content-md-center align-items-center">
        <img th:src="@{/images/header.png}" class="img-fluid rounded mx-auto d-block border mb-0 mt-2" style="width:67%">
        <div class="col-md-8 border rounded mt-3 mb-3 p-4" id="fondo">
            <form action="#" th:action="@{/addencuesta}" class="needs-validation" novalidate method="post">
                <input type="text" class="form-control text-center" name="operacion"  id="autocomplete" placeholder="Buscador Industrial RIM" style="text-transform:uppercase;" onkeyup="javascript:this.value = this.value.toUpperCase();"/>


            </form>
        </div>
    </div>
</div>


<!--AUTOCOMPLETA PRODUCTO-->
<script type="text/javascript" th:src="@{js/jquery.mockjax.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.autocomplete.js}"></script>
<script type="text/javascript" th:src="@{js/settings.js}"></script>
</body>
</html>
